langchain
langchain_core
langchain_anthropic
langchain_openai
tavily_python
langchain_community
langchain-groq
langgraph
pyairbnb
geopy
python-dotenv
fast-flights
pydantic
langchain_openai
PyPDF2
amadeus
beautifulsoup4
googlemaps
docling
arxiv
needle-python